html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ProseMirror {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 0.5rem;
}

.ProseMirror ul {
  margin-left: 1rem;
  list-style: disc outside none;
}

.ProseMirror ul ul {
  list-style-type: circle;
}

.ProseMirror ul ul ul {
  list-style-type: square;
}

.ProseMirror ol {
  margin-left: 1rem;
  list-style: decimal outside none;
}

.ProseMirror ol ol {
  list-style: decimal-leading-zero;
}

.ProseMirror ol ol ol {
  list-style: lower-alpha;
}

.content ul {
  margin-left: 1rem;
  list-style: disc outside none;
}

.content ul ul {
  list-style-type: circle;
}

.content ul ul ul {
  list-style-type: square;
}

.content ol {
  margin-left: 1rem;
  list-style: decimal outside none;
}

.content ol ol {
  list-style: decimal-leading-zero;
}

.content ol ol ol {
  list-style: lower-alpha;
}

.content p {
  margin-top: 1rem;
}
